name: Executar Bybit Setups

on:
  workflow_dispatch:       # Execu칞칚o manual
  schedule:
    - cron: '0 */4 * * *'  # A cada 4 horas (UTC)

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Clonar reposit칩rio
        uses: actions/checkout@v3

      - name: 游냀 Configurar ambiente Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 游닍 Instalar depend칡ncias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: 游 Executar script
        run: python bybit_setups_script.py

      - name: 游닇 Commitar ativos_opt.xlsx no reposit칩rio
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@users.noreply.github.com"
          git add ativos_opt.xlsx
          git commit -m "Atualiza칞칚o autom치tica do ativos_opt.xlsx"
          git push

